@media screen and (min-width: 768px) {
    #Milagros{
        height: 80%;
    }

    .Iconos{  
        font-size: 3rem;
        right: 60px;
    }

    .Face{
        margin-right: 80px;
    }
    
    #Uno{
        margin-top: 150px;
       }

    #Dos{
        margin-top: 2%;
    }

    h2{
            font-size: 2.5rem;
        }

        #Tres{
            font-size: 2rem;
            margin-top: 10%;
        }

        #Correo{
            width: 30%;
            margin-top: 2%;
            font-size: 1.2rem;
        }

        #Check{
            font-size: 1.2rem;
            top: 58%;
        }

       .boton{
            position: absolute;
            top: 65%;
            font-size: 1.2rem;
        }
        
            input[type="submit"]{
                width: 20%;
            }

            #Filete{
                height: 600px;
                bottom: -5%;
                background-size: 130%;
            }
                        
            #Pozole{
                height: 600px;
                bottom: -5%;
                background-size: 130%;
            }   

            figure{
                font-size: 1.2rem;
            }
}